[submodule "swt-fillers"]
	path = swt-fillers
	url = https://gitlab.cern.ch/cms-rcms/cdaq/swt-fillers.git
	shallow = true
[submodule "ratemon"]
	path = ratemon
	url = https://gitlab.cern.ch/cms-tsg-fog/ratemon.git
	shallow = true
